{
  "pid": "com.tibco.bw.stat.appnode.12552ff6-c2d1-4fb3-badc-671a93b6b597",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.12552ff6-c2d1-4fb3-badc-671a93b6b597",
      "type": "java.lang.String"
    }
  }
}